* {

    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #626BF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav {
    display: flex;
    gap: 100px
}

.nav a {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;

}


/* hero*/

.hero img {
    width: 100%;
    height: 100%;
}

.section2 {
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section2 div h2 {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.section2 p {
    text-align: center;

}

.paragrafo {
    text-align: justify;
    margin-left: 17px;
    margin-top: -20px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    margin-bottom: 50px;

}



.article h3 {
    width: 150%;
    padding-left: 160%;

}



.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 3% 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-left: 150px;
    transform: translateX(150px);
}

.btn-1 {
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.footer {
    background-color: #40297A;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;

}

.widget-title {
    color: white;
    font-weight: bolder;
    line-height: 3;

}

.footer p {
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.5;
}

.footer h2 {
    color: #ffffff;
    font-weight: bolder;
    line-height: 3;
}

.footer a {
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.5;
}

.footer li {
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.5;
}

footer.site-info {
    text-align: center;
    width: auto;
    bottom: 38px;
    margin-left: 42px;
    margin-right: 42px;
    background-color: #40297a
}

.div-article {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    justify-content: space-between;
}

.copyright-bar {
    color: #ffffff;
    font: bolder;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}