* {

    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #626BF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.logo a {
    text-decoration: none;
    color: white;
}
.logo {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav {
    display: flex;
    gap: 100px
}

.nav a {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.image-text {
    position: absolute;
    z-index: 1 ;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 38%;
    left: 10%;
    top: 21%;
}
.image-text1 {
    position: absolute;
    z-index: 1;
    color: white;   
    font-size: 32px;
    font-weight: bolder;
    top: 40%;
    left: 180px;
}

/* hero*/

.hero img {
    width: 100%;
    height: 100%;
    
}

.section2 {
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section2 div h2 {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.section2 p {
   text-align: center;
   margin-left: 76px;
   
}

.paragrafo {
    text-align: justify;
    margin-left: 17px;
    margin-top: -20px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    margin-bottom:  50px;
    

}



.article h3 {
    width: 150%;
padding-left:  135%;

}



button {
    background-color: #626BF2;
    color: white;
    padding: 3% 16px;
    border: none;
    border-radius: 6%;
    cursor: pointer;
    transform: translateX(233%);
;
    /* Cursor ao passar o mouse */
}

button:hover {
    background-color: #5f57ca;
    /* Mudança de cor ao passar o mouse */
}

.footer {
    background-color: #40297A;
    display: flex;
    justify-content: space-between; 
    padding: 40px;
    width: 100%;

}

.widget-title {
    color: white;
    font-weight: bolder;
    line-height: 3;
    
}
.footer p{
    color:#ffffff;
    font-weight: bolder;
    line-height: 1.5;
}

.footer h2 {
    color: #ffffff;
    font-weight: bolder;
    line-height: 3;
}

.footer a { 
    color:#ffffff;
    font-weight: bolder;
    line-height: 1.5;
}

.footer li { 
    color:#ffffff;
    font-weight: bolder;
    line-height: 1.5;
}

footer.site-info {
    text-align: center;
    width: auto;
    bottom: 38px;
    margin-left: 42px;
    margin-right: 42px;
    background-color: #40297a
}

.div-article {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    justify-content: space-between;
}
.copyright-bar {
    color: #ffffff;
    font: bolder;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}